<body> 
    <h1>Registro de Intereses</h1>
        
    <div class="content">
        <div class="container">
            <img class="bg-img" src="assets/imagenes/bg.jpg" alt="">
                <div class="menu">
                    <button (click) = "cerrarSesion()" type="" class="btn btn-success">Cerrar sesion</button>
                </div>
                <form ngNativeValidate [formGroup]="formulariointereses" (ngSubmit)="enviarDatos2()" >
                    <div> 
                        <input formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                    </div>
                    <div> 
                        <input formControlName="id_involucrad" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Involucrado">
                    </div>
                    <div class="connexion">
                        <div class="contact-form">
                            <label>Interes</label>
                            <input required formControlName="interes" placeholder="" type="text">
                            
                            <label>.</label>
                            <input class="submit" value="Guardar" type="submit">
                            
                            <label>.</label>
                            
                            <input (click) = "regresarInvolucrados()" id="sub" value="Regresar .." >
                        </div>                    
                    </div>  
                </form>
                               
        </div>
        <div id="contenedor">
            <div class="table-responsive">
                        
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Interes</th>
                            <th scope="col">Id involucrado</th>
                            <th scope="col">Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let interes of Intereses; let iControl=index" class="">
                            <td>{{ interes.id_interes}}</td> 
                            <td>{{ interes.interes}}</td> 
                            <td>{{ interes.id_involucrad}}</td>
                            <td>{{ interes.nombre_extraido}}</td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
 </body> 



