<body> 
    <h1>Registro de Problemas</h1>
        
    <div class="content">
        <div class="container">
            <img class="bg-img" src="assets/imagenes/bg.jpg" alt="">
                <div class="menu">
                    <button (click) = "cerrarSesion()" type="" class="btn btn-success">Cerrar sesion</button>
                </div>
                <form [formGroup]="formularioproblemas" (ngSubmit)="enviarDatos3()">
                    <div> 
                        <input formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                    </div>
                    <div> 
                        <input formControlName="id_involucrado" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Involucrado">
                    </div>
                    <div class="connexion">
                        <div class="contact-form">
                            <label>Problema</label> 
                            <input formControlName="problema" placeholder="" type="text">
                            
                            <label>.</label>
                            <input class="submit" value="Guardar" type="submit">
    
                            <label>.</label>
                            
                            <input (click) = "regresarInvolucrados()" id="sub" value="Regresar> involucrado" >
                        </div>                    
                    </div> 
                </form>               
        </div>
        <div id="contenedor">
            <div class="table-responsive">
                        
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Problema</th>
                            <th scope="col">Involucrado</th>
                            <th scope="col">Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let problema of Problemas; let iControl=index" class="">
                            <td>{{ problema.id_problema}}</td> 
                            <td>{{ problema.problema}}</td> 
                            <td>{{ problema.id_involucrado}}</td>
                            <td>{{ problema.nombre_extraido}}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    
    </div>
    
    
    </body> 


