<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body> 

  <div class="container-login100">
    <div class="hero-container1" data-aos="fade-up">
      <h1>Metodología del marco lógico</h1>
      <p>
        Es una herramienta de gestion de proyectos
        usada en el diseño, planificación, ejecución
        y evaluación de proyectos
        Desarrollada en 1969 por la USAD
        (Agencia de los Estados Unidos para el desarrollo internacional)
        como respuesta a analisis de resultados de proyectos anteriores
        donde se concluyó que había deficiencias y que es necesario crear
        una herramienta para mejorar los resultados de proyectos futuros.
      </p>
      <p>
        <b>Contiene los siguiente puntos:</b><br>
        <b>Matriz de involucrados.-</b> Consiste en poder analizar los objetivos, expectativas e incidencias de los involucrados
        ya que necesitamos contar con el apoyo de quienes tienen intereses, disminuir la oposicion y conseguir atención 
        de los indiferentes.
      </p>
      <p>
        <b>Análisis de problemas.-</b> Es la segunda etapa de la metodologia, consiste en identificar los problemas raiz que se va 
        a intervernir, para ello debemos analizar todos los problemas que se encuentran entre los involucrados buscando 
        comprender sus casas y efectos para de esta manera poder pobtener una visión del juego. Para poder avanzar, aqui 
        es necesario contar con un árbol de problemas.
      </p>
      <p>
        <b>Analisis de objetivos.-</b> Este es el tercer paso principal, lo que se busca es declarar todas las futuras situaciones 
        que se pretende llegar hacer con el proyecto mediante la resolucion de las necesidades. Estos objetivos deben redactarse 
        en infinitivo, denotar la busqueda de algo, debe ser a largo plazo, y sobre todo no crear confusion entre objetivos y actividades.
      </p>
      <p>
        <b>Matriz de marco logico.-</b> En esta matriz lo que se busca es presentar toda la informacion de manera resumida, indicando los aspectos
        importantes del proyecto, sus objetivos, indicadores, medios de verificacion (hipótesis), el proposito (objetivo central) y todas 
        sus actividades.<br>
        <b>Entonces:</b><br>
        <b>Fin.-</b> Descripcion de la solucion al problema superior.<br>
        <b>Propósito.-</b> Es el objetivo general, o en si seria lo que se busca como resultado luego de ejecutar el proyecto.<br>
        <b>Componentes.-</b> Son los resultados entregables.<br>
        <b>Actividades.-</b> Acciones que se realizarán para producir cada componente.
      </p>
    </div>
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <a (click)="regresara()" href="#" class="btn-get-started scrollto"></a>
      </div>
    </section>
  </div>


</body>

</html>





